@font-face {
    font-family: Skyrim;
    src: url(/Fonts/Skyrim/Skyrim2.ttf);
}

@font-face {
    font-family: Skyrim2;
    src: url(/Fonts/Skyrim/Skyrim2.ttf);
}

@font-face {
    font-family: GoW;
    src: url(/Fonts/GodOfWar/GODOFWAR.TTF);
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


header{
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
    background-image:url(/Images/NavbarBackground.jpg);
    border: solid 2px;
    border-color: #000000;
    font-family: Skyrim;
}

.main{
    width: 100%;
    height: 100%;
}

.Hr{
    color: #FFFFFF;
    size: 3px;
}

.video{
    padding :5px;
    width: auto;
    height: 720px;
    background: radial-gradient(circle at 50% 50%,rgb(3, 80, 90,0.5), rgb(119, 221, 251,0.2));
    align-self: left;
}

.box1{
    display: flex;
    flex-direction: row;
    background-image: url(/Images/background1.png);
    background-size: cover;
}

.box2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.carousel{  
    position: relative;
    width: 100%;
    height: 100%;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active]
{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.img1{
    background-image: url(/Images/First-Era-Background.jpg);
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.img2{
    background-image: url(/Images/Second-Era-Background.jpg);
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.img3{
    background-image: url(/Images/Third-Era-Background.png);
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.img4{
    background-image: url(/Images/present-background.jpg);
    display: block;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.slide >img{
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-button{
    position: absolute;
    top: 450px;
    background: none;
    border: none;
    z-index: 2;
    color: rgba(255,255,255,0.4);
    cursor: pointer;
    font-size: 4rem;
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}

.carousel-button:hover,
.carousel-button:focus{
    color: #FFFFFF;
}

.subheading{
    text-decoration:underline;
    font-size: 30px;
    padding: 10px;
    color: #FFFFFF;
}

.lore{
    text-decoration:underline;
    font-size: 30px;
    padding: 10px;
    color: #FFFFFF;
    text-align: center;
    font-family: Skyrim;
    font-size: 60px;
    background-image:url(/Images/NavbarBackground.jpg);
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}

.lore-Heading{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 40px;
    font-family: GoW;
    color: #FFFFFF ;
    text-decoration: underline;

}

.lore-subHeading{
    font-family: GoW;
    font-size: 30px;
    text-decoration: overline;
    color: #FFFFFF ;
}

.paragraph{
    margin-right: 80px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 30px;
    color: #FFFFFF ;
    font-family: Skyrim;   
    padding-bottom: 30px; 
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    top:0;
    background: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,1));
}

.subHeadList{
    padding-left: 50px;
    padding-top: 30px;
    color: #FFFFFF;
}

nav{
    display: flex;
    flex-direction: row;
    background-image:url(/Images/NavbarBackground.jpg);
    width: 100%;
    height: 60px;
}

nav span a{
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-family: GoW;
    text-decoration: underline;
}

